.body {
    position: relative;

    background: var(--color-primary);
}
/* Header ------------------------------------------------------------------- */
.header {
    height: var(--height-header);
    width: 100%;

    position: fixed;
    top: 0;

    background: var(--color-primary);

    transition: all .5s;
}
/* Menu --------------------------------------------------------------------- */
.nav {
    height: var(--height-nav);
    width: 100%;

    position: fixed;
    top: var(--height-header);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: .8rem;
    font-weight: 700;
    color: var(--font-color-light);
    background: var(--color-secundary);
    box-shadow: 0 0 1.4rem rgba(0, 0, 0, .8);

    transition: all .5s;
}
.nav .ul {
    display: flex;
    gap: 1rem;
}
.nav .ul .li {
    padding: .1rem;
    border: solid .3rem transparent;
}
.nav .ul .activo {
    border-bottom: solid .3rem var(--color-background);
}
/* Main --------------------------------------------------------------------- */
.main {
    min-height: calc(var(--height-main) + var(--height-header) + var(--height-nav));

    padding-top: calc(var(--height-header) + var(--height-nav));

    background: var(--color-background);

    transition: all .5s;
}
/* Footer ------------------------------------------------------------------- */
.footer {
    min-height: var(--height-footer);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--font-color-light);
    background: var(--color-primary);

    transition: all .5s;
}