    </main>
    <footer class="footer">
      <p>
        <%= title %> - Copyright© <span id="year"></span>
      </p>
      <p>
        Desarrollado por
        <a href="https://github.com/alejandrorizzolo" target="_blank"
          >Alejandro Rizzolo</a
        >
      </p>
    </footer>
  </body>
</html>

<script src="js/year.js"></script>