<nav class="nav">
    <ul class="ul">
        <li><a href="/" class="li nav-link">Inicio</a></li>
        <li><a href="/contacto" class="li nav-link">Contacto</a></li>
    </ul>
</nav>
<main class="main">

<script src="js/menu.js"></script>